/* NAVBAR MENU START */

.navbar-menu {
    height: 70px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1
}

.navbar-menu .container-fluid,
.row {
    height: 100%;
    width: 100%;
}

.navbar-menu .col-md-1,
.col-md-10 {
    height: 100%;
    width: 100%;
    display: flex;
}

.navbar-menu img {
    width: 30%;
    margin: auto;
}

.navbar-menu .col-md-1 a {
    margin: auto;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .7px;
    font-family: Montserrat;
}

.navbar-menu .col-md-10 {
    width: 100%;
    display: flex;
}

.navbar-menu .navbar.navbar-expand {
    margin: auto;
}

.navbar-menu .nav-link {
    margin-left: 30px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .7px;
    font-family: Montserrat;
}

.navbar-menu .dropdown-item {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .7px;
    font-family: Montserrat;
}


/* NAVBAR MENU END */


/*==================== HOME BLADE START=================================== */


/* HEADER START */

.layout {
    height: 820px;
    width: 100%;
    margin-bottom: 80px;
}

.layout-images {
    height: 100%;
    width: 100%;
}

.layout .carousel-item,
.carousel-inner,
#carouselExampleIndicators {
    height: 100%;
    width: 100%;
}

.layout img {
    filter: brightness(85%);
    height: 100%;
    width: 100%;
    z-index: -1;
}


/* SLIDES START */

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}


/* SLIDES END */


/* HEADER END */


/* IMAGE CONTENT START */

.wrapper-image-content {
    height: 600px;
    width: 100%;
    margin-bottom: 80px;
}

.wrapper-image-content .container,
.row {
    width: 100%;
    height: 100%;
}

.wrapper-image-content img {
    height: 100%;
    width: 95%;
    filter: brightness(85%);
    z-index: -1;
    position: absolute;
}

.wrapper-image-content .col-sm-6 {
    height: 100%;
    display: flex;
}

.wrapper-image-content .caption {
    margin: auto;
}

.wrapper-image-content h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    line-height: normal;
    font-family: PT Serif;
    letter-spacing: 1.5px;
}


/* IMAGE CONTENT END     */


/* SHOP ART CONTENT START */

.section-wrapper {
    margin-bottom: 80px;
    height: auto;
    width: 100%;
}

h4 {
    font-family: PT Serif;
    color: #000;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 80px;
}

.section-wrapper .col-md-4 {
    margin-bottom: 50px;
}

.section-wrapper .col-md-4 img {
    background-color: #f5f5f5;
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    transition: transform .6s;
}

.section-wrapper .col-md-4 img:hover {
    transform: scale(1.05);
}

.section-wrapper .tittle {
    color: #c2a476;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 750;
}

.section-wrapper h3 {
    margin-top: 5px;
    color: #000;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
}

.section-wrapper h3::after {
    content: "";
    height: 1px;
    width: 40px;
    display: block;
    margin: 10px auto;
    background-color: #c2a476;
}

.section-wrapper .price {
    font-size: 16px;
    color: #999;
    font-style: italic;
}


/* SHOP ART CONTENT END */


/* ABOUT CONTENT START */

.about-content-section {
    height: 500px;
    width: 100%;
    margin-bottom: 80px;
    position: relative;
    display: flex;
}

.about-content-section img {
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    position: absolute;
    z-index: -1;
}

.about-content-section .container {
    margin: auto;
}

.about-content-section span {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 750;
}

.about-content-section span::after {
    content: "";
    height: 1px;
    width: 80px;
    display: block;
    margin: 10px auto;
    background-color: #c2a476;
}

.about-content-section p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}


/* ABOUT CONTENT END */


/*=============================== HOME BLADE END ===================================*/


/* =========================== ABOUT BLADE START =============================================== */


/* IMAGE ABOUT START */

.about-image {
    height: 700px;
    width: auto;
    margin-bottom: 80px;
    display: flex;
    position: relative;
}

.about-image img {
    width: 100%;
    height: 100%;
    filter: brightness(65%);
    z-index: -1;
    position: absolute;
}

.about-image .tittle-blade {
    margin: auto;
}

.about-image .tittle-blade p {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #fff;
    font-family: Montserrat;
}


/* IMAGE ABOUT END */


/* CONTENT ABOUT START  */

.about-content.container {
    height: auto;
    width: auto;
    margin-bottom: 80px;
}

.about-content.container p {
    font-size: 16px;
    font-family: PT serif;
    letter-spacing: .8px;
    color: #353535;
    line-height: 1.875;
}

.about-content.container h3 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #353535;
    letter-spacing: 1px;
}

.about-content.container .tittle-content h3::after {
    content: "";
    height: 1px;
    width: 25px;
    display: block;
    background-color: #c2a476;
    margin: 10px 0;
}

.about-content.container img {
    margin-bottom: 25px;
    width: 100%;
}

.about-content.container h3::after {
    content: "";
    height: 1px;
    width: 50px;
    display: block;
    margin: 10px auto;
    background-color: #c2a476;
}

.about-content.container .job {
    color: #c2a476;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: PT serif;
    font-weight: 500;
    line-height: 1.1;
}


/* CONTENT ABOUT END  */


/*=========================== ABOUT BLADE END *===============================================/


/* FOOTER START */

.footer-email {
    margin-top: 50px;
    margin-bottom: 80px;
}

.footer-email h3 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 1.5px;
    color: #353535;
}

.footer-email h3::after {
    content: "";
    height: 1px;
    width: 80px;
    display: block;
    margin: 10px auto;
    background-color: #c2a476;
}

.footer-email input {
    font-size: 12px;
    line-height: 55px;
    height: 55px;
    padding: 0 25px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0;
    border: none;
    background-color: #f5f5f5;
    width: 35%;
}

.footer-email .submit {
    color: #fff;
    text-decoration: none;
    background-color: #353535;
    line-height: 55px;
    padding: 0 45px;
    width: 192px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    margin-left: 15px;
}

.footer-info {
    background-color: #3d3d3d;
    height: 350px;
    display: flex;
}

.footer-info .container {
    margin: 50px auto auto;
}

.footer-info h3 {
    font-family: inherit;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 650;
    font-size: 14px;
}

.footer-info h3::after {
    content: "";
    height: 1px;
    width: 20px;
    display: block;
    margin: 20px 0;
    background-color: #c2a476;
}

.footer-info p {
    color: #999;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    padding-right: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-info a {
    color: #999;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 650;
    margin-bottom: 15px;
}

.footer-end {
    background-color: #353535;
    height: 50px;
    display: flex;
}

.footer-end p {
    color: #c2a476;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}


/* FOOTER END */